<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmetc.dao.CommodityDAO">

    <select id="findCommodityByOid" resultType="com.xmetc.entity.Commodity">
        			select * from t_commodity where cid=#{cid}
	</select>

    <select id="findCommodityByName" resultType="com.xmetc.entity.Commodity">
        			select * from t_commodity where cname like "%"#{title}"%" limit #{arg0},#{arg1}
	</select>

    <select id="findCommodityAll" resultType="com.xmetc.entity.Commodity">
		select * from t_commodity
	</select>

    <select id="getCommodityAll1" resultType="com.xmetc.entity.Commodity">
		select * from t_commodity limit #{arg0},#{arg1}
	</select>
    <select id="findCommodityByPid" resultType="com.xmetc.entity.Commodity">
        			select * from t_commodity where xpid=#{xpid} limit #{arg0},#{arg1}
	</select>

    <select id="findNewCont" resultType="java.lang.Integer">
            select COUNT(*) from t_commodity where 1=1
        <!--<if test="xpid!=null">-->
            <!--and xpid =#{xpid},-->
        <!--</if>-->
        <!--<if test="cname!=null">-->
            <!--and cname =#{cname},-->
        <!--</if>-->
    </select>

    <select id="findNewContByname" resultType="java.lang.Integer">
        select COUNT(*) from t_commodity where 1=1
        <if test="cname!=null">
        and cname like "%"#{cname}"%"
        </if>
    </select>
    <select id="findNewContByid" resultType="java.lang.Integer">
        select COUNT(*) from t_commodity where 1=1
        <if test="xpid!=null">
        and xpid = #{xpid}
        </if>
    </select>

    <update id="updateCommodity" parameterType="com.xmetc.entity.Commodity">
        update t_commodity
        <set>
            <if test="xpid!=null">
                xpid =#{xpid},
            </if>
            <if test="name!=null">
                cname =#{cname},
            </if>
            <if test="image!=null">
                image =#{image},
            </if>
            <if test="detail!=null">
                detail =#{detail},
            </if>
            <if test="price!=null">
                price =#{price},
            </if>
        </set>
        where cid=#{cid}
    </update>

    <insert id="addCommodity" parameterType="com.xmetc.entity.Commodity" keyProperty="cid" useGeneratedKeys="true">
		insert into t_commodity(xpid,cname,image,detail,price)
		values(#{xpid},#{cname},#{image},#{detail},#{price})
	</insert>

    <delete id="deleteCommodity" parameterType="com.xmetc.entity.Commodity">
		delete from t_commodity where cid=#{cid}
	</delete>


</mapper>