<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmetc.dao.OrderInfoDAO">

    <insert id="addOrderInfo" parameterType="com.xmetc.entity.OrderInfo" keyProperty="oiid" useGeneratedKeys="true">
		insert into t_orderinfo(oid,cid,cnum)
		values(#{oid},#{cid},#{cnum})
	</insert>

    <select id="findOrderInfoAll" resultType="com.xmetc.entity.OrderInfoUid">
      SELECT
	        t.oiid "id",
            0 "uid",
            t.cid "cid",
            t.cnum "cnum",
            a.price "cprice",
            a.cname "cname",
            a.image "photo"
        FROM
            t_orderinfo t,t_commodity a
        WHERE t.cid = a.cid
        and oid=#{oid}
	</select>


</mapper>